{% extends "base-file.html" %} {% block title %} Events {% endblock title %}
{%block content %}
<div class="container">
  <div class="row">
    {% for event in events %}
    <div class="col-4">
      <div class="card" style="width: 18rem">
        <img src="event.image.url" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">{{event.name}}</h5>
          <h6 class="card-title">{{event.user}}</h6>
          <h6 class="card-title">{{event.dateofevent}}</h6>
          <a href="#" class="btn btn-primary">Book</a>
        </div>
      </div>
    </div>
    {% endfor %} {% endblock content %}
  </div>
</div>
